{
    "ScriptConfig" : "WindowNUTPS.ps1",
    "RunMode" : "Production",
    "NUT" :
    {
      "NUTserver" : "192.168.x.x",
      "NUTPort" : "3493",
      "NUTUPSName" : "ups.conf_name",
      "NUTPoll_OLRate" : 45,
      "NUTPoll_ErrorRate" : 15,
      "ShutdownThresholds" : 
      {
        "TimeOnBattery" : "10",
        "BatteryPercentRemaing" : "75",
        "BatteryRuntimeRemaing" : "60"
      },
      "AdvancedActions" : 
      [

      ]
    },
    "LogPath" : "C:\\Program Files\\NUT\\Logs",
    "MaxLogAge" : "180"
}